In [ ]:
str1 = "Walchand Institute of technology"

In [6]:
bill=0
unit=3550
if(unit>0):
    bill=bill+((unit-1000)*0.18)
    bill=bill+((1000-500)*0.16)
    bill=bill+((500-300)*0.14)
    bill=bill+((300-200)*0.08)

print(bill)

57500

In [28]:
taxamt=0
tax=0
sal=4500000
saving=150000
if(saving<=200000):
    taxamt=sal-saving

if(taxamt>=2200000):
    if(taxamt>2200000):
        tax=tax+((4500000-2200000)*0.18)
if(taxamt)

print(tax+280000)

694000.0

In [38]:
str1 = "Walchand Institute of technology"
newstr=""
str1.replace("a","+")

print(newstr)

In [40]:
name="Vinayak"
count=0
for ch in name:
    count+=1

print(count)

7

In [50]:
def findcount(naam):
    c=0
    for ch in naam:
        c+=1
    return c    
findcount("Aditya")

6

In [13]:
#Convert small to big and big to small
def convert(sentence):
    newstr=""
    for ch in sentence: 
        if ord(ch)>=65 and ord(ch)<=90:
            newstr+=chr(ord(ch)+32)
        elif ord(ch)>=97 and ord(ch)<=122:
            newstr+=chr(ord(ch)-32)
        else:
            newstr+=ch
            
    return newstr
print(convert("Hello World"))

hELLO wORLD

In [15]:
x=0
while(x<10):
    print(x," is less than 10 \n making it increment")
    x+=1
else:
    print("all done")

0  is less than 10
 making it increment
1  is less than 10
 making it increment
2  is less than 10
 making it increment
3  is less than 10
 making it increment
4  is less than 10
 making it increment
5  is less than 10
 making it increment
6  is less than 10
 making it increment
7  is less than 10
 making it increment
8  is less than 10
 making it increment
9  is less than 10
 making it increment
all done

In [17]:
lst=[10,20,30,5]
lst1=[x**2 for x in lst]
print(lst1)

[100, 400, 900, 25]

In [169]:
#Fibonacci Series
num=4
i=0
a,b,c=0,1,0
if(num==1):
    print(a)
if(num==2):
    print(a,b,end="")
if(num>2):
    print(a,b,end=" ")
    while(i<num-2):
            c=a+b
            a=b
            b=c
            print(c,end=" ")
            i+=1

0 1 1 2

In [21]:
#reverse the string
sen="Hello Everyone"
x=len(sen)-1
while(x!=-1):
    print(sen[x],end="")
    x-=1

enoyrevE olleH

In [53]:
sen="Hello Everyone"
x=len(sen)-1
i=0
print("Even Indices: ",end="")
while i<x:
    if i%2==0:
        print(sen[i],end="")
    i+=1

Even Indices: HloEeyn

In [55]:
#Odd indices
sen="Hello Everyone"
x=len(sen)
i=0
print("Even Indices: ",end="")
while i<x:
    if i%2!=0:
        print(sen[i],end="")
    i+=1

Even Indices: el vroe

In [27]:
#Vowels in String
v="aeiouAEIOU"
string="Walchand Institute of Technology,Solapur"
x=len(string)-1
i=0
while(i<=x):
    if(string[i] in v):
        print(string[i],end="")
    i+=1
else:
    print(" \nThat's All")

aaIiueoeoooau
That's All

In [51]:
def say_hello():
    return 2

print(say_hello())

2